@import './../../../utils/mixins';

.form {
  position: relative;
}
.btn-submit {
    position: absolute;
    bottom: -30px;
    
  &_search {
    width: 250px;
    height: 60px;

    @include onDesktop {
      height: 80px;
      width: 300px;
    }
    background-color: #ec9a45;
    color: white;
    border-radius: 50px;
    border: none;
    font-size: 20px;
    cursor: pointer;

    transition: 1s;

    &:hover {
      background-color: #da760c;
    }
  }
}