@import '../../../utils/mixins';
@import '../../../utils/variables';

.form {
  position: relative;
}

.field {
  &_item {
    height: $-mobile-field-heigth;
    width: $-mobile-field-width;

    @include onDesktop {
      height: $-desktop-field-heigth;
      width: $-desktop-field-width;
    }

    padding-left: 20px;
    font-size: 20px;
    color: black;
    background-color: white;
    color: rgb(36, 34, 34);
    border: none;
    border-radius: 8px;

    margin-bottom: 5px;

    &:focus {
      outline: none;
    }

    &::placeholder {
      font-size: 18px;
      font-family: 'Roboto', sans-serif;
    }
  }
}

.dropdown {
  position: absolute;
 
  width: $-mobile-drop-width;
  min-height: 50px;
  max-height: 100px;

  @include onDesktop {
    width: $-desktop-drop-width;
  }

  border: 1px solid gray;
  border: none;
  border-radius: 8px;

  background-color: rgb(229, 228, 228);
  overflow-y: scroll;
  z-index: 999;

}

.dropdown:empty {
  border: none;
}

.dropdown-row {
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
}