@import '../../utils/mixins';

body {
  position: relative;
}

.header {
  display: flex;
  padding: 20px 30px;
  width: calc(100vw - 60px);

  @include onDesktop {
    padding: 20px 80px;
    width: calc(100vw - 160px);
  }
  
  justify-content: space-between;
  align-items: center;

  position: fixed;  
  z-index: 999;
}

.white {
  background-color: white;
  border-bottom: 2px black solid;
}