$-mobile-field-width: 250px;
$-mobile-field-heigth: 50px;

$-desktop-field-width: 350px;
$-desktop-field-heigth: 80px;

$-mobile-drop-width: 274px;
$-desktop-drop-width: 374px;

$-mobile-train-width: 300px;
$-desktop-train-width: 900px;

$-mobile-height-input: 40px;
$-desktop-height-input: 50px;
