@import '../../utils/mixins';

.form {
  padding: 100px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 60%;
  
  &_fields {
    @include onTablet {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    transition: 1s;

    &:hover {
      box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
    }
  }

  height: 200px;
  background-color: rgba(6,203,103,.6); 

  margin-bottom: 50px;
}
