@import '../../utils/mixins';

.form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 350px;
  border-radius: 8px;

  &_fields {
    transition: 1s;

    @include onDesktop {
      width: 80%;
      display: flex;
      justify-content: space-between;
    }
  }

  &_message {
    position: absolute;
    padding: 10px;
    bottom: 60px;
    border: none;
    border-radius: 8px;
    background-color: rgb(235, 20, 20);
    opacity: 0.6;
    color: white;
  }

  background-color: rgba(228, 201, 149, 0.6); 
  margin-bottom: 50px;
}